<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ray.dormitory.mapper.MenuMapper">
    <resultMap id="menuMap" type="com.ray.dormitory.bean.po.Menu">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="component" column="component"/>
        <result property="icon" column="icon"/>
        <result property="parentId" column="parent_id"/>
        <result property="noCache" column="no_cache"/>
        <result property="hidden" column="hidden"/>
        <result property="order" column="order"/>
        <collection property="children" column="id" ofType="com.ray.dormitory.bean.po.Menu" fetchType="lazy"
                    select="getChildren"/>
        <collection property="roles" column="id" ofType="string" fetchType="lazy"
                    select="getRoles"/>
    </resultMap>

    <select id="getChildren" resultMap="menuMap">
        select * from menu m where m.parent_id = #{id} order by `order`
    </select>

    <select id="getRoles" resultType="string">
        select name from role r where r.id in (select role_id from role_menu where menu_id=#{id})
    </select>

    <select id="getMenusByUserId" resultType="com.ray.dormitory.bean.po.Menu">
        select m.*
            from menu m
            where m.id in(
                select menu_id
                    from role_menu where role_id in(
                        select role_id from user_role WHERE user_id=#{userId}
                    )
            ) order by `order`
    </select>


    <select id="getApiPermissionList" resultType="com.ray.dormitory.bean.po.Menu">
        select m.*,r.*
            from menu m
                left join role_menu rp on m.id=rm.menu_id
                left join role r on rm.role_id=r.id
            where m.type=3
    </select>
    <select id="getApiPermissionsOfUser" resultType="java.lang.String">
        SELECT path
        FROM menu m
                LEFT JOIN role_menu rm
                    on m.id = rm.menu_id
                LEFT JOIN user_role ur
                    on ur.role_id = rp.role_d
        WHERE ur.user_id = #{userId} and m.path is not null
    </select>
</mapper>