<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ray.dormitory.mapper.RoomMapper">
    <resultMap id="roomResultMap" type="com.ray.dormitory.bean.po.Room">
        <id property="id" column="id"/>
        <result property="number" column="number"/>
        <result property="size" column="size"/>
        <result property="buildingId" column="building_id"/>
        <collection property="students" ofType="com.ray.dormitory.bean.bo.Student" fetchType="lazy"
                    select="com.ray.dormitory.mapper.UserMapper.getRoomMates" column="number">

        </collection>
    </resultMap>

    <select id="getRoomsOfFloor" resultMap="roomResultMap">
        select * from room r
        where building_id=#{buildingId} and substring(number, 3, 2)=#{floor}
    </select>


</mapper>